body{
    background: #d2d0fe;
}
.nav-enlace{
    display: inline-block;
    background: #2f416d;
    color: seashell;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Indie Flower', "cursive";
}
.nav-enlace:hover{
background: rgb(90, 205, 151);
}
nav{
    background:rgb(255, 8, 0);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-boton{
    background: salmon;
    color: seashell;
    padding: 10px 0;
    border: 2px solid seashell;
    display: none;
}
h1{
    font-family: courier;
    font-size: 30px;
    color: green;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: red;

}
h3{
    font-family: monospace;
    font-size: 20px;
}
.letra{
    font-family: tahoma;
}
@media (max-width: 50px 700px) {
    nav{
        background: #fff;
        flex-direction: column;
    } 
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    
}
.nav-boton{
    display: inline-block;
}
.desaparece{
    display: none;
}
}