body{
    background-image: url("cecyetm1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.nav-enlace{
    display: inline-block;
    background: salmon;
    color: seashell;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Indie Flower', "cursive";
}
.nav-enlace:hover{
background: rgb(90, 205, 151);
}
nav{
    background: rgb(111, 0, 255);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-boton{
    background: salmon;
    color: seashell;
    padding: 10px 0;
    border: 2px solid seashell;
    display: none;
}
@media (max-width: 50px 700px) {
    nav{
        background: #fff;
        flex-direction: column;
    } 
    .nav-enlace{
        /* margin: 10px 0; */
        margin-left: 10px;
    
    }
    .nav-boton{
        display: inline-block;
    
}
.nav-boton{
    display: inline-block;
}
.desaparece{
    display: none;
}
.color{
    color: #808000;
}
}