/* body {
    background-image: url('cecytem.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  } */
h1{
    color:  White;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}
h2{
    color: white;
}
.color{
    color: rgb(0, 255, 64);
    font-family: "Arial";
    font-size: 35px;
}
